# ----------------------------------
#          Node.js/Backend
# ----------------------------------
node_modules/
package-lock.json
yarn.lock
.env
.env.*.local
.env.local
.env.development
.env.test
.database.local

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes
coverage/
.nyc_output/

# Banco de dados
*.sql
*.dump
migrations/*.sql

# Build/Artefatos
dist/
build/

# ----------------------------------
#         Configurações IDEs
# ----------------------------------
.vscode/
.idea/

# ----------------------------------
#        Flutter/Android (existente)
# ----------------------------------
# Miscellaneous
*.class
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json